* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #b0d0da;
}

/* menu de navegacion */

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #ffffff;
  font-weight: bold;
}

li {
  float: left;
}

.logo {
  float: left;
  padding: 14px;
  padding-right: 90px;
}

.elementos-navegacion-derecha {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
}

.elemento-menu-navegacion {
  padding: 16px;
  padding-top: 34px;
  padding-bottom: 34px;
}

div.elementos-navegacion-derecha {
  padding: 16px;
  padding-top: 34px;
  padding-bottom: 34px;
}

a.elementos-derecha {
  padding: 16px;
}

li a:hover {
  background-color: #c7c7c7;
}

/* Formulario de registro */

.contenedor-formulario {
  padding-top: 100px;
  padding-bottom: 100px;
}

form {
  width: 350px;
  padding: 16px;
  border-radius: 27px;
  margin: auto;
  background-color: #6e7aed;
}

label {
  color: white;
}

div {
  padding: 10px;
}

select {
  margin-top: 8px;
  padding: 2px;
  padding-right: 140px;
}

input {
  margin-top: 8px;
  padding: 2px;
  padding-right: 110px;
}

button {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

button a {
  color: black;
  
}

.botones {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* pie de pagina */

footer {
  background-color: rgba(0, 0, 0, 0.61);
}

footer p {
  text-align: center;
  color: white;
  height: 110px;
  padding: 50px;
}
